/WebContent/WEB-INF/lib/asm-all-repackaged-2.2.0-b21.jar
/WebContent/WEB-INF/lib/cglib-2.2.0-b21.jar
/WebContent/WEB-INF/lib/commons-codec-1.5.jar
/WebContent/WEB-INF/lib/guava-14.0.1.jar
/WebContent/WEB-INF/lib/hk2-api-2.2.0-b21.jar
/WebContent/WEB-INF/lib/hk2-locator-2.2.0-b21.jar
/WebContent/WEB-INF/lib/hk2-utils-2.2.0-b21.jar
/WebContent/WEB-INF/lib/httpclient-4.1.2.jar
/WebContent/WEB-INF/lib/httpcore-4.1.3.jar
/WebContent/WEB-INF/lib/jackson-core-asl-1.9.13.jar
/WebContent/WEB-INF/lib/jackson-jaxrs-1.9.13.jar
/WebContent/WEB-INF/lib/jackson-mapper-asl-1.9.13.jar
/WebContent/WEB-INF/lib/jackson-xc-1.9.13.jar
/WebContent/WEB-INF/lib/javax.annotation-api-1.2.jar
/WebContent/WEB-INF/lib/javax.inject-2.2.0-b21.jar
/WebContent/WEB-INF/lib/javax.servlet-api-3.0.1.jar
/WebContent/WEB-INF/lib/javax.ws.rs-api-2.0.jar
/WebContent/WEB-INF/lib/jcl-over-slf4j-1.6.4.jar
/WebContent/WEB-INF/lib/jena-arq-2.9.4.jar
/WebContent/WEB-INF/lib/jena-core-2.7.4.jar
/WebContent/WEB-INF/lib/jena-iri-0.9.4.jar
/WebContent/WEB-INF/lib/jersey-client-2.5.jar
/WebContent/WEB-INF/lib/jersey-common-2.5.jar
/WebContent/WEB-INF/lib/jersey-container-servlet-2.5.jar
/WebContent/WEB-INF/lib/jersey-container-servlet-core-2.5.jar
/WebContent/WEB-INF/lib/jersey-media-json-jackson-2.5.jar
/WebContent/WEB-INF/lib/jersey-server-2.5.jar
/WebContent/WEB-INF/lib/log4j-1.2.16.jar
/WebContent/WEB-INF/lib/osgi-resource-locator-1.0.1.jar
/WebContent/WEB-INF/lib/slf4j-api-1.6.4.jar
/WebContent/WEB-INF/lib/slf4j-log4j12-1.6.4.jar
/WebContent/WEB-INF/lib/validation-api-1.1.0.Final.jar
/WebContent/WEB-INF/lib/xercesImpl-2.10.0.jar
/WebContent/WEB-INF/lib/xml-apis-1.4.01.jar
/build/classes/api/NotificationApi.class
/build/classes/api/StockQuoteApi.class
/reports/-ArpaTrade-compile.html
/reports/-ArpaTrade-runtime.html
/reports/ivy-report.css
